<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <title>CVČ CVrČek » Archív</title>
    <meta name="description" content="To najlepšie miesto pre deti a mládež" />
    <meta name="keywords" content="CVrČek, CVČ, centrum, voľného, času, Moldava, Moldava nad Bodvou" />
    <meta name="author" content="2 Key Players" />

    <meta property="og:title" content="CVČ CVrČek" />
    <meta property="og:description" content="To najlepšie miesto pre deti a mládež" />
    <meta property="og:url" content="http://www.cvcmoldava.edu.sk" />
    <meta property="og:image:width" content="279" />
    <meta property="og:image:height" content="279" />
    <meta property="og:image" content="http://www.cvcmoldava.edu.sk/obrazky/og-image.jpg" />
    <meta property="fb:app_id" content="159482424129512" />
    <meta name="twitter:card" content="summary" />

    <link rel="canonical" href="http://www.cvcmoldava.edu.sk/archiv" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#666666" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#ffffff" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="app" class="cvrckoviny pusher">
      <div class="ui top segment">
        <div class="ui container">
          <img class="logo" src="obrazky/cvrcek.svg" alt="CVrČek" />
          <h1 class="ui header">
            <span class="cvrcek">
              <span class="centrum">C</span>
              <span class="volneho">V</span>
              <span>r</span>
              <span class="casu">Č</span>
              <span>e</span>
              <span>k</span>
            </span>
            <span class="cvc">Centrum voľného času</span>
          </h1>
          <img class="logo zadok" src="obrazky/cvrcek-zadok.svg" alt="CVrČek" />
        </div>
      </div>

      <div class="ui cena basic modal">
        <div class="content">
          <img class="ui fluid image" src="prilohy/cenamesta.jpg" alt="Cena mesta" />
        </div>
        <div class="actions">
          <div class="ui basic cancel inverted button">
            Zavrieť
          </div>
        </div>
      </div>

      <div class="ui big borderless main menu">
        <div class="ui container">
          <a class="first item" href="/"><i class="calendar alternate icon"></i><span>CVrČkoviny</span></a>
          <a class="second item" href="/informacie"><i class="info icon"></i><span>Informácie</span></a>
          <a class="third item" href="/financie"><i class="euro icon"></i><span>Financie</span></a>
          <a class="active fourth item" href="/archiv"><i class="archive icon"></i><span>Archív</span></a>
          <a class="fifth item" href="/kontakt"><i class="pencil icon"></i><span>Kontakt</span></a>
          <div class="right menu">
            <a class="facebook item" href="https://www.facebook.com/cvcmoldava/" target="_blank"
              ><i class="facebook icon"></i><span>Facebook</span></a
            >
          </div>
        </div>
      </div>

      <div class="ui vertical stripe main segment">
        <!-- <div class="ui container">
        <div class="ui fourth orange message">
          <i class="close icon"></i>
          <div class="header">
            Darujte nám 2%
          </div>
          <p>Vaše 2% pomôžu urobiť radosť deťom v našom/vašom CVČ CVrČek! Podporte naše Rodičovské združenie.</p>
          <p>Zákon Vám umožňuje darovať 2% zo svojich daní z príjmov neziskovej organizácii. Tento dar Vás nič nestojí, pretože daň by Ste inak odviedli štátu. Vaše 2% pre nás znamenajú prejavenie dôvery a podporu v rozvíjaní našich aktivít v prospech vašich/našich detí.</p>
          <p>Tlačivá nájdete <a href="prilohy/Vyhlasenie-2018.pdf"><i class="paperclip icon"></i></a> a <a href="prilohy/Potvrdenie-2018.pdf"><i class="paperclip icon"></i></a>, ale budú k dispozícii aj v CVrČkovi. Ak sa rozhodnete darovať 2% nám, je potrebné do 15. februára 2019 požiadať zamestnávateľa o vydanie potvrdenia o zaplatení dane z príjmov.</p>
        </div>
      </div> -->

        <div class="ui stackable main grid container">
          <div class="row">
            <div class="twelve wide column">
              <a id="najnovsie" name="najnovsie"></a>
              <h4 class="ui horizontal header divider">
                <i class="archive icon"></i>
                {{ rok }}
              </h4>
              <div class="ui unstackable relaxed divided najnovsie cvrckoviny items">
                <div v-if="prazdnePole(najnovsie)" class="ui active centered inline big loader"></div>
                <cvrckovina v-for="(data, index) in najnovsie" v-bind:data="data" v-bind:key="index"></cvrckovina>
              </div>
            </div>
            <div class="four wide column">
              <a id="roky" name="roky"></a>
              <h4 class="ui horizontal mobile header divider">
                <i class="history icon"></i>
                Roky
              </h4>
              <div class="ui relaxed divided link list">
                <a
                  v-for="(r, index) in roky"
                  v-bind:class="(rok === r ? 'active ' : '') + 'rok item'"
                  v-bind:href="'/archiv-' + r"
                  v-bind:key="index"
                >
                  <div class="ui header">
                    <i class="archive icon"></i>
                    <div class="content">
                      {{ r }}
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe secondary quote center aligned segment">
        <div class="ui center aligned text container">
          <div class="ui timeline feed">
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">1.12.1964</div>
                <div class="extra text">
                  Dátum vzniku CVČ
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">27.6.2001</div>
                <div class="extra text">
                  Udelenie
                  <a class="pomenovanie" href="prilohy/Pomenovanie.pdf"
                    >pomenovania <span class="centrum">C</span><span class="volneho">V</span>r<span class="casu">Č</span
                    >ek <i class="file pdf icon"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">1.4.2002</div>
                <div class="extra text">
                  Právna subjektivita
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">1.10.2004</div>
                <div class="extra text">
                  Spustenie webových stránok <span class="centrum">C</span><span class="volneho">V</span>r<span
                    class="casu"
                    >Č</span
                  >ka
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">26.9.2008</div>
                <div class="extra text">
                  Rozšírenie <span class="centrum">C</span><span class="volneho">V</span>r<span class="casu">Č</span>ka
                  o priestory Superfleku
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">13.8.2011</div>
                <div class="extra text">
                  <span class="centrum">C</span><span class="volneho">V</span>r<span class="casu">Č</span>ek na
                  facebook-u
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">31.12.2013</div>
                <div class="extra text">
                  Ukončenie činnosti v Superflek-u
                </div>
              </div>
            </div>
            <div class="event">
              <div class="label">
                <i class="dot circle icon"></i>
              </div>
              <div class="content">
                <div class="date">27.6.2014</div>
                <div class="extra text">
                  Udelenie ocenenia
                  <a class="pomenovanie" onclick="$('.cena.modal').modal('show')"
                    >Cena mesta <i class="file image icon"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <a id="starsie" name="starsie"></a>
          <h4 class="ui horizontal header divider">
            <i class="archive icon"></i>
            {{ rok }}
          </h4>
          <div class="ui unstackable relaxed divided starsie cvrckoviny items">
            <div v-if="prazdnePole(cvrckoviny)" class="ui active centered inline big loader"></div>
            <cvrckovina v-for="(data, index) in cvrckoviny" v-bind:data="data" v-bind:key="index"></cvrckovina>
          </div>
          <div class="ui center aligned container" style="margin-top:3em" v-if="dalsie">
            <button
              v-bind:class="'ui dalsie basic ' + (nahravam ? 'loading' : '') + ' button'"
              v-on:click="zobrazitDalsie()"
            >
              Zobraziť ďalších
            </button>
            <select class="ui pocet compact selection dropdown" v-model="pocet" v-on:change="zobrazitDalsie()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
        </div>
      </div>

      <div class="ui vertical secondary footer segment">
        <div class="ui center aligned container">
          <div class="ui stackable inverted divided grid">
            <div class="eight wide column">
              <h4 class="ui header">Kontakt</h4>
              <div class="ui kontakt list">
                <div class="item">
                  <div class="content">
                    <i class="building icon"></i>
                    Centrum voľného času CVrČek
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="building icon" style="color: #f3f4f5"></i>
                    Školská 5
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="building icon" style="color: #f3f4f5"></i>
                    Moldava nad Bodvou
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="building icon" style="color: #f3f4f5"></i>
                    045 01
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="map marker alternate icon"></i>
                    <a
                      href="https://www.google.com/maps/place/Centrum+Voľného+Času/@48.6127937,20.9976012,16z/data=!4m12!1m6!3m5!1s0x0:0xcab51584d69de972!2zQ2VudHJ1bSBWb8S-bsOpaG8gxIxhc3U!8m2!3d48.6127976!4d20.9988956!3m4!1s0x0:0xcab51584d69de972!8m2!3d48.6127976!4d20.9988956"
                      target="_blank"
                      >48.6127937, 20.9976012</a
                    >
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="phone icon"></i>
                    <a href="tel:00421905815083">+421 (905) 815 083</a>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="phone icon" style="color: #f3f4f5"></i>
                    <a href="tel:00421554607253">+421 (55) 460 7253</a>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <i class="mail icon"></i>
                    <a href="mailto:cvrcek@cvcmoldava.edu.sk">cvrcek@cvcmoldava.edu.sk</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="eight wide column">
              <h4 class="ui header">Dôležité údaje</h4>
              <div class="ui informacie list">
                <div class="item">
                  <div class="content">
                    <div class="title"><strong>IBAN</strong></div>
                    SK73 0200 0000 0017 4487 2754
                  </div>
                </div>
                <div class="item">
                  <div class="title"><strong>IČO</strong></div>
                  35544236
                </div>
                <div class="item">
                  <div class="title"><strong>DIČ</strong></div>
                  2021638630
                </div>
                <div class="item">
                  <img src="obrazky/cvrcek-mini.svg" class="ui centered tiny image" />
                </div>
              </div>
            </div>
          </div>
          <div class="ui section divider"></div>
          <div class="ui horizontal small centered list">
            <div class="autori item">
              <p>
                <i class="code icon"></i> <a href="http://2keyplayerscom">2 Key Players</a>
                <span style="padding-left:1em"></span>
                <i class="settings icon"></i> <a href="https://vuejs.org">Vue.js</a> +
                <a href="https://semantic-ui.com">Semantic UI</a>
              </p>
              <p>
                <i class="copyright icon"></i><span class="copyright"></span>
                <a href="http://www.cvcmoldava.edu.sk">CVČ CVrČek</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui center aligned hore container">
        <a href="javascript:hore()"><i class="angle up icon"></i> Hore <i class="angle up icon"></i></a>
      </div>
    </div>

    <script src="js/skripty.js"></script>
    <script src="js/archiv.js"></script>
  </body>
</html>
