<!DOCTYPE html>
<html lang="sk">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />

  <title>CVČ CVrČek » Činnost</title>
  <meta name="description" content="To najlepšie miesto pre deti a mládež">
  <meta name="keywords" content="CVrČek, CVČ, centrum, voľného, času, Moldava, Moldava nad Bodvou">
  <meta name="author" content="2 Key Players">

  <meta property="og:title" content="CVČ CVrČek" />
  <meta property="og:description" content="To najlepšie miesto pre deti a mládež" />
  <meta property="og:image" content="http://www.cvcmoldava.edu.sk/obrazky/cvrcek-logo-social.png" />
  <meta property="og:url" content="http://www.cvcmoldava.edu.sk/" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="159482424129512" />
  <meta name="twitter:card" content="summary" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e27837">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>
    $(document).ready(function () {

      $('.cinnosti.cards .card').popup();

    });
  </script>
</head>

<body>

  <div id="app" class="informacie pusher">
    <div class="ui top segment">
      <div class="ui container">
        <img class="logo" src="obrazky/cvrcek.svg" alt="CVrČek" />
        <h1 class="ui header">
          <span class="cvrcek">
            <span class="centrum">C</span>
            <span class="volneho">V</span>
            <span>r</span>
            <span class="casu">Č</span>
            <span>e</span>
            <span>k</span>
          </span>
          <span class="cvc">Centrum voľného času</span>
        </h1>
        <img class="logo zadok" src="obrazky/cvrcek-zadok.svg" alt="CVrČek" />
      </div>
    </div>

    <div class="ui kontakt mini modal">
      <div class="header"><i class="pencil icon"></i> Kontakt</div>
      <div class="content">
        <div class="ui relaxed divided link list">
          <div class="item">
            <div class="ui header">
              <i class="building icon"></i>
              <div class="content">
                <div class="sub header">
                  CVČ CVrČek<br />
                  Školská 5<br />
                  Moldava nad Bodvou<br />
                  045 01
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui header">
              <i class="phone icon"></i>
              <div class="content">
                <div class="sub header">
                  <a href="tel:00421905815083">+421 (905) 815 083</a><br />
                  <a href="tel:00421554607253">+421 (55) 460 7253</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui header">
              <i class="mail icon"></i>
              <div class="content">
                <div class="sub header">
                  <a href="mailto:cvrcek@cvcmoldava.edu.sk">cvrcek@cvcmoldava.edu.sk</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui ok button">OK</div>
      </div>
    </div>

    <div class="ui big borderless main menu">
      <div class="ui container">
        <a class="first item" href="index.html"><i class="calendar alternate icon"></i><span>CVrČkoviny</span></a>
        <a class="active second item" href="informacie.html"><i class="info icon"></i><span>Informácie</span></a>
        <a class="third item" href="peniaze.html"><i class="euro icon"></i><span>Peniaze</span></a>
        <a class="fourth item" href="archiv.html"><i class="archive icon"></i><span>Archív</span></a>
        <a class="fifth item" onclick="$('.kontakt.modal').modal('show')"><i class="pencil icon"></i><span>Kontakt</span></a>
        <div class="right menu">
          <a class="facebook item" href="https://www.facebook.com/cvcmoldava/" target="_blank"><i class="facebook icon"></i><span>Facebook</span></a>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe main segment">
      <div class="ui main container">
        <a name="pravidelna"></a>
        <h4 class="ui horizontal header divider">
          <i class="calendar check icon"></i>
          Pravidelná činnosť
        </h4>
        <div class="ui four doubling stackable green cinnosti cards">

          <div v-if="prazdnePole(kruzky)" class="ui active centered inline big loader"></div>
          <kruzok v-for="(data, index) in kruzky" v-bind:data="data" v-bind:key="index"></kruzok>

        </div>
        <a name="najnovsie"></a>
        <h4 class="ui horizontal header divider">
          <i class="calendar plus icon"></i>
          Príležitostná činnosť
        </h4>
        <div class="ui four doubling stackable green cards">
          <div class="card">
            <div class="content">
              <div class="header">CVrČek vás zabáva</div>
              <div class="description">animačný program</div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="euro icon"></i>50
              </span>
              <i class="clock icon"></i>2 hodiny
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Maľovanie na tvár</div>
              <div class="description">na tému podľa želania</div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="euro icon"></i>30
              </span>
              <i class="clock icon"></i>2 hodiny
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Tvorivé dielne</div>
              <div class="description">na tému podľa želania</div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="euro icon"></i>30
              </span>
              <i class="clock icon"></i>2 hodiny
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Putovanie za rozprávkou</div>
              <div class="description">zábavné podujatie pre deti so stanovišťami, plnením úloh a rozprávkovými
                postavami</div>
            </div>
            <div class="extra content">
              <span class="right floated">
                <i class="euro icon"></i>50
              </span>
              <i class="clock icon"></i>cca. 2 hodiny
            </div>
          </div>
        </div>
        <div class="ui center aligned container" style="margin-top: 2em">
          <a class="ui basic button" href="index.html">+ množstvo ďalších aktivít</a>
        </div>
      </div>
    </div>

    <div class="ui vertical secondary footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="eight wide column">
            <h4 class="ui header">Kontakt</h4>
            <div class="ui kontakt list">
              <div class="item">
                <div class="content">
                  <div class="title"><i class="building icon"></i></div>
                  CVČ CVrČek
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title">&nbsp;</div>
                  Školská 5
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title">&nbsp;</div>
                  Moldava nad Bodvou
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title">&nbsp;</div>
                  045 01
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title"><i class="marker icon"></i></div>
                  <a href="https://www.google.com/maps/place/Centrum+Voľného+Času/@48.6127937,20.9976012,16z/data=!4m12!1m6!3m5!1s0x0:0xcab51584d69de972!2zQ2VudHJ1bSBWb8S-bsOpaG8gxIxhc3U!8m2!3d48.6127976!4d20.9988956!3m4!1s0x0:0xcab51584d69de972!8m2!3d48.6127976!4d20.9988956"
                    target="_blank">48.6127937,
                    20.9976012</a>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title"><i class="phone icon"></i></div>
                  <a href="tel:00421905815083">+421 (905) 815 083</a>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title">&nbsp;</div>
                  <a href="tel:00421554607253">+421 (55) 460 7253</a>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <div class="title"><i class="mail icon"></i></div>
                  <a href="mailto:cvrcek@cvcmoldava.edu.sk">cvrcek@cvcmoldava.edu.sk</a>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <h4 class="ui header">Dôležité údaje</h4>
            <div class="ui informacie list">
              <div class="item">
                <div class="content">
                  <div class="title"><strong>IBAN</strong></div>
                  SK73 0200 0000 0017 4487 2754
                </div>
              </div>
              <div class="item">
                <div class="title"><strong>IČO</strong></div>
                35544236
              </div>
              <div class="item">
                <div class="title"><strong>DIČ</strong></div>
                2021638630
              </div>
              <div class="item">
                <img src="obrazky/cvrcek-mini.svg" class="ui centered tiny image" />
              </div>
            </div>
          </div>
        </div>
        <div class="ui section divider"></div>
        <div class="ui horizontal small centered list">
          <div class="autori item">
            <p><i class="code icon"></i> <a href="http://2keyplayerscom">2 Key Players</a>
              <span style="padding-left:1em"></span>
              <i class="settings icon"></i> <a href="https://vuejs.org">Vue.js</a> + <a href="https://semantic-ui.com">Semantic
                UI</a></p>
            <p><i class="copyright icon"></i>2004-2018 <a href="http://www.cvcmoldava.edu.sk">CVČ CVrČek</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/cinnost.js"></script>

</body>

</html>