<!DOCTYPE html>
<html lang="sk">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />

  <title>CVČ CVrČek » CVrČkoviny</title>
  <meta name="description" content="To najlepšie miesto pre deti a mládež">
  <meta name="keywords" content="CVrČek, CVČ, centrum, voľného, času, Moldava, Moldava nad Bodvou">
  <meta name="author" content="2 Key Players">

  <meta property="og:title" content="CVČ CVrČek" />
  <meta property="og:description" content="To najlepšie miesto pre deti a mládež" />
  <meta property="og:url" content="http://www.cvcmoldava.edu.sk" />
  <meta property="og:image:width" content="279" />
  <meta property="og:image:height" content="279" />
  <meta property="og:image" content="http://www.cvcmoldava.edu.sk/obrazky/og-image.jpg" />
  <meta property="fb:app_id" content="159482424129512" />
  <meta name="twitter:card" content="summary" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#666666" />
  <meta name="msapplication-TileColor" content="#00aba9" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
  <!-- development version, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <div id="app" class="cvrckoviny pusher">
    <div class="ui top segment">
      <div class="ui container">
        <img class="logo" src="obrazky/cvrcek.svg" alt="CVrČek" />
        <h1 class="ui header">
          <span class="cvrcek">
            <span class="centrum">C</span>
            <span class="volneho">V</span>
            <span>r</span>
            <span class="casu">Č</span>
            <span>e</span>
            <span>k</span>
          </span>
          <span class="cvc">Centrum voľného času</span>
        </h1>
        <img class="logo zadok" src="obrazky/cvrcek-zadok.svg" alt="CVrČek" />
      </div>
    </div>

    <div class="ui kontakt mini modal">
      <div class="header"><i class="pencil icon"></i> Kontakt</div>
      <div class="content">
        <div class="ui relaxed divided link list">
          <div class="item">
            <div class="ui header">
              <i class="building icon"></i>
              <div class="content">
                <div class="sub header">
                  CVČ CVrČek<br />
                  Školská 5<br />
                  Moldava nad Bodvou<br />
                  045 01
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui header">
              <i class="phone icon"></i>
              <div class="content">
                <div class="sub header">
                  <a href="tel:00421905815083">+421 (905) 815 083</a><br />
                  <a href="tel:00421554607253">+421 (55) 460 7253</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui header">
              <i class="mail icon"></i>
              <div class="content">
                <div class="sub header">
                  <a href="mailto:cvrcek@cvcmoldava.edu.sk">cvrcek@cvcmoldava.edu.sk</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="ui ok button">OK</div>
      </div>
    </div>

    <div class="ui big borderless main menu">
      <div class="ui container">
        <a class="active first item" href="index.html"><i class="calendar alternate icon"></i><span>CVrČkoviny</span></a>
        <a class="second item" href="informacie.html"><i class="info icon"></i><span>Informácie</span></a>
        <a class="third item" href="financie.html"><i class="euro icon"></i><span>Financie</span></a>
        <a class="fourth item" href="archiv.html"><i class="archive icon"></i><span>Archív</span></a>
        <a class="fifth item" onclick="$('.kontakt.modal').modal('show')"><i class="pencil icon"></i><span>Kontakt</span></a>
        <div class="right menu">
          <a class="facebook item" href="https://www.facebook.com/cvcmoldava/" target="_blank"><i class="facebook icon"></i><span>Facebook</span></a>
        </div>
      </div>
    </div>

    <div class="ui ziadosti mini modal">
      <div class="header"><i class="paperclip icon"></i> Žiadosti</div>
      <div class="content">
        <a class="item" href="prilohy/prihlaska2019.pdf">
          <h2 class="ui center aligned icon header">
            <i class="sign-in icon"></i>
            Prihláška
          </h2>
        </a>
        <a class="item" href="prilohy/odhlaska2019.pdf">
          <h2 class="ui center aligned icon header">
            <i class="sign-out icon"></i>
            Odhláška
          </h2>
        </a>
      </div>
      <div class="actions">
        <div class="ui ok button">OK</div>
      </div>
    </div>

    <div class="ui cas modal">
      <div class="header"><i class="clock icon"></i> Pracovný čas</div>
      <div class="content">
        <table class="ui definition table">
          <thead>
            <tr>
              <th class="four wide">&nbsp;</th>
              <th class="four wide centrummm">CVrČek</th>
              <th class="four wide volnehooo">Telocvičňa</th>
              <th class="four wide casuuu">Úradné hodiny</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pondelok</td>
              <td class="centrummm">10:00-17:30</td>
              <td class="volnehooo">15:00-18:00</td>
              <td class="casuuu">-</td>
            </tr>
            <tr>
              <td>Utorok</td>
              <td class="centrummm">10:00-18:00</td>
              <td class="volnehooo">15:00-18:00</td>
              <td class="casuuu">16:00-18:00</td>
            </tr>
            <tr>
              <td>Streda</td>
              <td class="centrummm">10:00-17:30</td>
              <td class="volnehooo">15:00-18:00</td>
              <td class="casuuu">10:00-12:00</td>
            </tr>
            <tr>
              <td>Štvtok</td>
              <td class="centrummm">10:00-16:00</td>
              <td class="volnehooo">15:00-20:00</td>
              <td class="casuuu">-</td>
            </tr>
            <tr>
              <td>Piatok</td>
              <td class="centrummm">10:00-17:30</td>
              <td class="volnehooo">15:00-18:00</td>
              <td class="casuuu">-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="actions">
        <div class="ui ok button">OK</div>
      </div>
    </div>

    <div class="ui odkazy mini modal">
      <div class="header"><i class="linkify icon"></i> Odkazy</div>
      <div class="content">
        <div class="ui relaxed divided link list" style="text-align: center">
          <a class="item" href="http://moldava.sk" target="_blank">
            <div class="header">
              Moldava nad Bodvou
              <div class="sub header">moldava.sk</div>
            </div>
          </a>
          <a class="item" href="http://www.acvc.sk" target="_blank">
            <div class="header">
              Asociácia CVČ
              <div class="sub header">acvc.sk</div>
            </div>
          </a>
          <a class="item" href="http://zsmoldava.edupage.org" target="_blank">
            <div class="header">
              ZŠ ČSA
              <div class="sub header">zsmoldava.edupage.org</div>
            </div>
          </a>
          <a class="item" href="http://zs2moldava.edupage.sk" target="_blank">
            <div class="header">
              ZŠ Severná
              <div class="sub header">zs2moldava.edupage.sk</div>
            </div>
          </a>
          <a class="item" href="http://gymnmold.edupage.org/?utm_source=azet.sk&utm_medium=profil&utm_campaign=azet-katalog"
            target="_blank">
            <div class="header">
              Alapiskola
              <div class="sub header">gymnmold.edu.sk</div>
            </div>
          </a>
          <a class="item" href="http://salkahazi-sara.edupage.org" target="_blank">
            <div class="header">
              ZŠ S. Salkaházi
              <div class="sub header">salkahazi-sara.edupage.org</div>
            </div>
          </a>
          <a class="item" href="http://rcm.sk/pr/nasi-partneri/cvc-v-kosickom-kraji" target="_blank">
            <div class="header">
              CVČ v Košickom kraji
              <div class="sub header">rcm.sk</div>
            </div>
          </a>
          <a class="item" href="https://www.sdetmi.com" target="_blank">
            <div class="header">
              s deťmi.com
              <div class="sub header">sdetmi.com</div>
            </div>
          </a>
        </div>
      </div>
      <div class="actions">
        <div class="ui ok button">OK</div>
      </div>
    </div>

    <div class="ui vertical stripe main segment">
      <div class="ui stackable main grid container">
        <div class="row">
          <div class="twelve wide column">
            <a id="najnovsie" name="najnovsie"></a>
            <h4 class="ui horizontal header divider">
              <i class="thumbtack icon"></i>
              Najnovšie
            </h4>
            <div class="ui unstackable relaxed divided najnovsie cvrckoviny items">

              <div v-if="prazdnePole(najnovsie)" class="ui active centered inline big loader"></div>
              <cvrckovina v-for="(data, index) in najnovsie" v-bind:data="data" v-bind:key="index"></cvrckovina>

            </div>
          </div>
          <div class="four wide column">
            <!-- <div class="ui accordion">
              <div class="active title">
                <i class="dropdown icon"></i>
                What is a dog?
              </div>
              <div class="active content">
                <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
              </div>
              <div class="title">
                <i class="dropdown icon"></i>
                What kinds of dogs are there?
              </div>
              <div class="content">
                <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
              </div>
            </div> -->
            <a id="oblubene" name="oblubene"></a>
            <h4 class="ui horizontal mobile header divider">
              <i class="star icon"></i>
              Obľúbené
            </h4>
            <div class="ui relaxed divided link list">
              <!-- <a class="cis item" href="/cis"> -->
              <div class="cis item">
                <div class="ui header">
                  <i class="database icon"></i>
                  <div class="content">
                    CIS
                    <div class="sub header">CVrČkov informačný systém</div>
                  </div>
                </div>
              </div>
              <!-- </a> -->
              <a class="cinnost item" href="cinnost.html">
                <div class="ui header">
                  <i class="smile icon"></i>
                  <div class="content">
                    Činnosť
                    <div class="sub header">Pravidelná a príležitostná</div>
                  </div>
                </div>
              </a>
              <a class="poplatky item" href="financie.html?id=poplatky">
                <div class="ui header">
                  <i class="euro icon"></i>
                  <div class="content">
                    Poplatky
                    <div class="sub header">Poplatky za činnosť</div>
                  </div>
                </div>
              </a>
              <a class="ziadosti item" onclick="$('.ziadosti.modal').modal('show')">
                <div class="ui header">
                  <i class="paperclip icon"></i>
                  <div class="content">
                    Žiadosti
                    <div class="sub header">Prihláška a odhláška</div>
                  </div>
                </div>
              </a>
              <a class="cas item" onclick="$('.cas.modal').modal('show')">
                <div class="ui header">
                  <i class="clock icon"></i>
                  <div class="content">
                    Pracovný čas
                    <div class="sub header">Otváracie a úradné hodiny</div>
                  </div>
                </div>
              </a>
              <a class="odkazy item" onclick="$('.odkazy.modal').modal('show')">
                <div class="ui header">
                  <i class="linkify icon"></i>
                  <div class="content">
                    Odkazy
                    <div class="sub header">Spriatelené stránky</div>
                  </div>
                </div>
              </a>
              <a class="keyplayers item" href="http://2keyplayers.com" target="_blank">
                <div class="ui header">
                  <i class="gamepad icon"></i>
                  <div class="content">
                    2 Key Players
                    <div class="sub header">Dvaja kľúčoví hráči</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe secondary quote center aligned segment">
      <div class="ui text container">
        <h2>"To najlepšie miesto pre deti a mládež"</h2>
        <p>
          Centrum voľného času <span class="centrum">C</span><span class="volneho">V</span>r<span class="casu">Č</span>ek
          <br />
          v Moldave nad Bodvou
        </p>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <a id="starsie" name="starsie"></a>
        <h4 class="ui horizontal header divider">
          <i class="thumbtack icon"></i>
          Staršie
        </h4>
        <div class="ui unstackable relaxed divided starsie cvrckoviny items">

          <div v-if="prazdnePole(cvrckoviny)" class="ui active centered inline big loader"></div>
          <cvrckovina v-for="(data, index) in cvrckoviny" v-bind:data="data" v-bind:key="index"></cvrckovina>

        </div>
        <div class="ui center aligned container" style="margin-top:3em" v-if="dalsie">
          <button v-bind:class="'ui dalsie basic ' + (nahravam ? 'loading' : '') + ' button'" v-on:click="zobrazitDalsie()">Zobraziť
            ďalších
          </button>
          <select class="ui pocet compact selection dropdown" v-model="pocet">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>

    <div class="ui vertical secondary footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="eight wide column">
            <h4 class="ui header">Kontakt</h4>
            <div class="ui kontakt list">
              <div class="item">
                <div class="content">
                  <i class="building icon"></i>
                  CVČ CVrČek
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="building icon" style="color: #f3f4f5"></i>
                  Školská 5
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="building icon" style="color: #f3f4f5"></i>
                  Moldava nad Bodvou
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="building icon" style="color: #f3f4f5"></i>
                  045 01
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="map marker alternate icon"></i>
                  <a href="https://www.google.com/maps/place/Centrum+Voľného+Času/@48.6127937,20.9976012,16z/data=!4m12!1m6!3m5!1s0x0:0xcab51584d69de972!2zQ2VudHJ1bSBWb8S-bsOpaG8gxIxhc3U!8m2!3d48.6127976!4d20.9988956!3m4!1s0x0:0xcab51584d69de972!8m2!3d48.6127976!4d20.9988956"
                    target="_blank">48.6127937,
                    20.9976012</a>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="phone icon"></i>
                  <a href="tel:00421905815083">+421 (905) 815 083</a>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="phone icon" style="color: #f3f4f5"></i>
                  <a href="tel:00421554607253">+421 (55) 460 7253</a>
                </div>
              </div>
              <div class="item">
                <div class="content">
                  <i class="mail icon"></i>
                  <a href="mailto:cvrcek@cvcmoldava.edu.sk">cvrcek@cvcmoldava.edu.sk</a>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <h4 class="ui header">Dôležité údaje</h4>
            <div class="ui informacie list">
              <div class="item">
                <div class="content">
                  <div class="title"><strong>IBAN</strong></div>
                  SK73 0200 0000 0017 4487 2754
                </div>
              </div>
              <div class="item">
                <div class="title"><strong>IČO</strong></div>
                35544236
              </div>
              <div class="item">
                <div class="title"><strong>DIČ</strong></div>
                2021638630
              </div>
              <div class="item">
                <img src="obrazky/cvrcek-mini.svg" class="ui centered tiny image" />
              </div>
            </div>
          </div>
        </div>
        <div class="ui section divider"></div>
        <div class="ui horizontal small centered list">
          <div class="autori item">
            <p><i class="code icon"></i> <a href="http://2keyplayerscom">2 Key Players</a>
              <span style="padding-left:1em"></span>
              <i class="settings icon"></i> <a href="https://vuejs.org">Vue.js</a> + <a href="https://semantic-ui.com">Semantic
                UI</a></p>
            <p><i class="copyright icon"></i><span class="copyright"></span> <a href="http://www.cvcmoldava.edu.sk">CVČ
                CVrČek</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>

</body>

</html>